<html>
<head>
<title>WhoIs Lookup</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="[onshow..template_path]style/reset.css">
 <link rel="stylesheet" type="text/css" href="[onshow..template_path]style/main.css">
</head>

<body OnLoad="document.search.q.focus();">

<div id="page-wrapper">

<div class="search">
	<form name="search"  action="[onshow..script_name]">
		<input type="text" name="q" class="searchbox" placeholder="Search" value="[onshow.query]">
		<input type="submit" class="searchbutton" value="&#x1F50D;">
	</form>
</div>

<div class="result resultdomain">
	<div><span class="boxtitle">Domain Name</span><span class="boxcontent">[onshow.domainname]</span></div>
	<div><span class="boxtitle">Registrar</span><span class="boxcontent">[onshow.registrar]</span></div>
	<div><span class="boxtitle">Created</span><span class="boxcontent">[onshow.domaincreation]</span></div>
	<div><span class="boxtitle">Changed</span><span class="boxcontent">[onshow.domainupdate]</span></div>
	<div><span class="boxtitle">Name Servers</span><span class="boxcontent">[onshow.nameservers]</span></div>
</div>

</div>

</body>
</html>