<html>
<head>
<title>WhoIs Lookup</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="[onshow..template_path]/style/reset.css">
 <link rel="stylesheet" type="text/css" href="[onshow..template_path]/style/main.css">
</head>

<body>

<div id="page-wrapper">

<div class="search">
	<form action="[onshow..script_name]">
		<input type="text" name="q" class="searchbox" placeholder="Search" value="[onshow.query]">
		<input type="submit" class="searchbutton" value="&#x1F50D;">
	</form>
</div>

<div class="result">
	<h1>The domain [onshow.query] is available</h1>
</div>

</div>
</body>
</html>