body {
	background-color: rgba(232, 236, 241, 1);
	font-family:  Helvetica, Arial, sans-serif;
}

#page-wrapper {
	width : 740px;
	margin: 0 auto;
}

h1 {
	font-size : 150%;
	font-weight : bold;
	padding-bottom : 5px;
	text-transform: uppercase;
}

/* Search Box  */

.search {
	outline: 0;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-border-radius: 15px;
	border-radius: 15px;
	overflow: auto;
	-moz-border-radius: 5px;
	background-color: white;
	margin-bottom : 20px;
	margin-top : 50px;
}

.search input[type="text"] {
	border: 0px;
	width: 90%;	
	padding: 10px 10px;
	font-size: 18px;
}

.search input[type="text"]:focus {
	outline: 0;
}

.search input[type="submit"] {
	border: 0px;
	background: none;
	background-color: rgba(38, 50, 56, 0.8);
	color: #fff;
	float: right;
	padding: 10px;
	text-rendering: auto;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	cursor:pointer;
	-webkit-transition: background-color .4s ease;
	transition: background-color .4s ease;
	font-size: 18px;
}

.search input[type="submit"]:hover {
  background-color: rgba(0, 150, 136, 0.8);
}

/* Media Query for Search Box */

@media only screen and (min-width : 150px) and (max-width : 780px) {
	{}
	
	#page-wrapper{
		width : 100%;
		margin: 0;
	}
	
	.search {
		margin-bottom : 5px;
		margin-top : 10px;
		margin-left : 10px;
		margin-right : 10px;
	}

	.search input[type="text"] {
		width: 75%;	
	}
	
	.result {
		margin-left : 10px;
		margin-right : 10px;
	}

}

/* Result */

.result {
	outline: 0;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.8);
	color: #212121;
}

.result pre {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 18px;
	line-height: 10px;
}

.error {
	outline: 0;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 15px;
	background-color: #FFBABA;
	color: #D8000C;
	font-size: 22px;
}

.resultdomain {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}


.resultdomain div {
	width: 400px;  
	margin: auto; 
	position: relative;
}

.resultdomain div span.boxtitle {
	display: block;
	width: 100%;
	font-size: 150%;
	text-align : left;
	background-color: rgba(232, 236, 241, 1); 
	padding : 10px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
}

.resultdomain div span.boxcontent {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 120%;
	text-align : center;
	padding: 10px 0;
}
